<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context" xmlns:util="http://www.springframework.org/schema/util" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

	<context:component-scan base-package="com.backend.business.service, com.backend.business.dao, com.backend.service" />
	
	<task:annotation-driven />

	<bean id="propertiesConfig" class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
		<property name="ignoreResourceNotFound" value="true" />
		<property name="ignoreUnresolvablePlaceholders" value="true"></property>
		<property name="locations">
			<list>
				<value>classpath:config/config.test.properties</value>
				<value>classpath:config/config.uat.properties</value>
				<value>classpath:config/config.prod.properties</value>
				<value>classpath:config/config.local.properties</value>
			</list>
		</property>
	</bean>

	<bean id="propertiesUtil" class="com.backend.common.utils.PropertiesUtil" depends-on="propertiesConfig" />

	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="useCodeAsDefaultMessage" value="false" />
		<property name="cacheSeconds" value="-1" />
		<property name="basenames">
			<list>
				<value>classpath:/message</value>
			</list>
		</property>
	</bean>

	<bean id="springUtil" class="com.backend.common.utils.SpringUtil" depends-on="messageSource" />

	<bean id="dataSource" class="org.logicalcobwebs.proxool.ProxoolDataSource">
		<property name="driver" value="${jdbc.driver}" />
		<property name="driverUrl" value="${jdbc.url}" />
		<property name="user" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="houseKeepingTestSql" value="select current_timestamp" />
		<property name="alias" value="DB-JDBC-POOL-PROXOOL" />
		<property name="prototypeCount" value="40" />
		<property name="maximumConnectionCount" value="600" />
		<property name="minimumConnectionCount" value="1" />
		<property name="simultaneousBuildThrottle" value="300" />
		<property name="maximumActiveTime" value="900000" />
		<property name="testBeforeUse" value="true" />
		<property name="testAfterUse" value="true" />
		<property name="trace" value="false" />
		<property name="verbose" value="false" />
		<property name="delegateProperties" value="autoCommit=true,user=${jdbc.username},password=${jdbc.password}" />
	</bean>

	<bean class="org.logicalcobwebs.proxool.ProxoolFacade" destroy-method="shutdown" />

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:mybatisConfig/mybatis-config.xml" />
		<property name="configurationProperties">
			<props>
				<prop key="db.name">${db.name}</prop>
				<prop key="cache.timeout.ms">#{ new Long(${db.cache.timeout} * 1000).toString() }</prop>
			</props>
		</property>
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.backend.business.dao"></property>
	</bean>

	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="insert*" rollback-for="java.lang.Throwable" />
			<tx:method name="add*" rollback-for="java.lang.Throwable" />
			<tx:method name="create*" rollback-for="java.lang.Throwable" />
			<tx:method name="del*" rollback-for="java.lang.Throwable" />
			<tx:method name="remove*" rollback-for="java.lang.Throwable" />
			<tx:method name="update*" rollback-for="java.lang.Throwable" />
			<tx:method name="modify*" rollback-for="java.lang.Throwable" />
			<tx:method name="save*" rollback-for="java.lang.Throwable" />
			<tx:method name="*" read-only="true" />
		</tx:attributes>
	</tx:advice>

	<aop:config proxy-target-class="true">
		<aop:pointcut id="services" expression="execution(* com.backend.business.service.*Service.*(..))" />

		<aop:advisor pointcut-ref="services" advice-ref="txAdvice" />
	</aop:config>

	<aop:aspectj-autoproxy proxy-target-class="true" />
</beans>
