<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="false" scanPeriod="10 seconds">

	<property name="LOG_ROOT" value="/opt/log" />
	<property name="LOG_FILENAME" value="backend-service" />
	<property name="LOG_MAXFILESIZE" value="50MB" />
	<property name="LOG_PATTERN" value="%date{ISO8601} %-5level [%thread] %class.%method\\(%line\\) - %msg%n" />

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
	</appender>

	<appender name="RFA" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_ROOT}/${LOG_FILENAME}.log</file>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_ROOT}/${LOG_FILENAME}-%d{yyyyMMdd}-%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>${LOG_MAXFILESIZE}</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
			<charset>utf-8</charset>
		</encoder>
	</appender>

	<logger name="org.springframework" level="INFO" />
	<logger name="org.logicalcobwebs.proxool" level="WARN" />
	<logger name="com.google.code.yanf4j" level="WARN" />
	<logger name="net.rubyeye.xmemcached" level="WARN" />

	<logger name="org.apache.cxf" level="DEBUG" />

	<logger name="com.backend" level="DEBUG" />

	<root level="DEBUG">
		<appender-ref ref="stdout" />
		<appender-ref ref="RFA" />
	</root>

</configuration>
